/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/
.order-enter
  transform: translateY(-60px) translateX(-120%) rotate(-90deg)
  transition 0.5s
  max-height: 0
  padding 0
  &.order-enter-active
    max-height 60px
    padding 2rem 0
    transform: translateY(0) translateX(0) rotate(0)

.order-exit
  transform: translateX(0) rotate(0)
  transition: 0.5s
  &.order-exit-active
      transform: translateX(-120%) rotate(-90deg)
      padding: 0


.count-enter
  transform: translateY(-100%)
  transition 0.2s
  &.count-enter-active
    transform: translateY(0)

.count-exit
  transform: translateY(0)
  transition 0.2s
  position: absolute
  left 0
  bottom: 0
  &.count-exit-active
    transform: translateY(-100%)